/* defines the layout of the page in which everything else is formatted */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* defines the background of the body */
body {
    background-color: #d9dcd6;
}

/* defines the format, font, and colors of the header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* defines the h1 header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* defines the color of the seo id */
#seo {
    color: #d9dcd6;
}

/* defines the header division where the links will be placed */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* defines the characteristics of everything with the included tags */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 26px;
}

/* defines the paramaters of the splash image class */
.splash {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* defines the float parameters referenced later */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* content classes and their affiliated attribute classes are defined here. each section is organized by type*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.sidebar-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.sidebar-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.sidebar-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.sidebar-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.sidebar-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.sidebar-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines classes */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image heights are defined here */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* accompanying text is defined here */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* defines the footer parameters */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
